body {
    display: flex;
    flex-direction: column;
    font-family: Roboto ;
    margin: 0px;
}
.header-contain{
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color:#e5e7eb;
}
a{
  text-decoration: none;
}
.container-main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer{
    background: #1f2937;
    height: 90px;
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}
.item-1{
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 80px;
    padding: 80px;
}
.item-1 img{
    border-radius: 15px 50px;
    width: 400px;
    height: 300px;
}
.item-1-text{
    max-width: 400px;
  
}
.item-1-text h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.item-1 p{
    color: #e5e7eb;
    font-size: 18px;
}
.item-1-text button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 30px;
}
/*------------------------------------------------------------------------------*/
.item-2-text{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    color: #1f2937;
    padding: 20px;
}

.item-2 img{
    border-radius: 15px;
    border: 3px solid #3882f6;
    width: 150px;
    height: 150px;
    align-self: center;
}
.item-2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.item-2-info{
    display: flex;
    flex-direction: column;
    width: 180px;
}
.item-2-info p{
    text-align: center;
    font-size: 18px;
    color: #b1b1b1;
}
.item-3{
    background: #e5e7eb;
    padding: 80px;
}
.item-3 p{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 800px;
    padding-left: 200px;
}
.item-3 h4{
    padding-right: 180px;
    color: #1f2937;
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    text-align: end;
}

