body {
    display: flex;
    flex-direction: column;
    background: #1f2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-contain{
    background: #1f2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}
header{
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
    color:#e5e7eb;
}
a{
  text-decoration: none;
}
.container-main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.footer{
    display: flex;
    color: #e5e7eb;
    justify-content: center;
    align-items: center;
}
.item-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 80px;
}
img{
    border-radius: 15px 50px;
    width: 400px;
    height: 300px;
}
.text{
    max-width: 400px;
  
}
.text h1{
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}
.text p{
    color: #e5e7eb;
    font-size: 18px;
}
.text button{
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: 0;
    width: 100px;
    height: 30px;
}
